@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --clr-strong-cyan: hsl(171, 66%, 44%);
  --clr-light-blue: hsl(233, 100%, 69%);
  /* Neutral */
  --clr-dark-grey: hsl(210, 10%, 33%);
  --clr-grey: hsl(201, 11%, 66%);
  /* Hover */
  --clr-hov-cyan: hsl(171, 52%, 58%);
  --clr-hov-blue: hsl(233, 100%, 77%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-grey);
  min-height: 100vh;
}

main::selection {
  background-color: var(--clr-light-blue);
  color: white;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--clr-dark-grey);
  &::selection {
    color: white;
    background-color: var(--clr-strong-cyan);
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: white;

  padding: 1rem 2rem;
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px 1px 3px 1px;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: var(--clr-shadow) 0px 6px 14px -5px;
  transition: background-color 0.1s ease, border-color 0.1s ease;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: rgba(0, 0, 0, 0.05);
  }
  &.ios {
    background-color: var(--clr-strong-cyan);
    --clr-shadow: var(--clr-hov-cyan);
    &:hover {
      background-color: var(--clr-hov-cyan);
    }
  }
  &.mac {
    background-color: var(--clr-light-blue);
    --clr-shadow: var(--clr-light-blue);
    &:hover {
      background-color: var(--clr-hov-blue);
    }
  }
}

footer {
  padding: 2rem;
  background-color: #f5f6f8;
  user-select: none;

  & a {
    text-decoration: none;
    color: var(--clr-dark-grey);

    transition: color 0.1s ease;
    &:hover {
      color: var(--clr-strong-cyan);
    }
  }
}
